    <ul>
        <li>
            <a href="{$MODULE_ALIAS}uploads/">Загрузка фото</a>
        </li>
        <li>
            <a href="{$MODULE_ALIAS}">Пользователи</a>
        </li>
    </ul>
