#sections{width: 500px; height: 200px;}
input[name="doDel"]{margin-left: 434px; margin-top: 5px;}
input[name="section"]{width: 421px;}
div.menuBlock ul.sections{margin-left: 30px;}
td.skip{text-align: center;}


.news_menu {
    margin: 0 0 40px;
    background: #26303d;
    border-radius: 9px;
    list-style: outside none none;
    padding: 10px 3.1%;
    text-align: justify;
    width: 93.8%;
	border: 1px solid #fae836;
}

.news_menu  li {
    display: inline-block;
	vertical-align:top;
    margin: 0;
	padding:0;
	background: none;
}

.news_menu li a:hover, .news_menu li.active a {
    background: #303a49;
    border: 1px solid #f5b830;
    color: #fae836;
}
.news_menu li a {
	color: #f9d132;
	display: block;
	margin: 0;
    padding: 10px 8px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid transparent;
	border-radius: 9px;
	font: 12px/18px ds_copticregular,tahoma,geneva,sans-serif;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .2s ease-in-out;	-moz-transition: all .2s ease-in-out;	-ms-transition: all .2s ease-in-out;	-o-transition: all .2s ease-in-out;	transition: all .2s ease-in-out;
}
.list-news .figure img {
    border-radius: 30px;
}
@media  (max-width: 700px) {
	.news_menu {
		height:auto;
		padding-bottom:0;
	}
	.news_menu  li {
		width:45%;
		margin:0 0 5px;
	}
} 