<form method="post" id="newPasswordForm">
    <div>
        <label for="password">Введите новый пароль</label><br/>
        <input id="password" name="password" type="password" /><br/>
        <label for="passwordConf">Введите новый пароль ещё раз</label><br/>
        <input id="passwordConf" name="passwordConf" type="password" /><br/><br/>
        <input type="submit" name="doChange" value="Поменять пароль" />
    </div>
</form>