<div class="content-block">
    <div class="container">
        <h2>{$article.caption}</h2>
         {*<span>{$article.publicationDate|date_format:"%e %m %Y":"":"rus"}</span>
         <br/>
         {if !empty($article.imageID)}
            <img alt="alt"  src="/getimage/{$article.imageID}/250x250xs/"  />
        {/if}*}
        {$article.body}
        
        <br/>
        <a class="btn" href="{$BACK_URL}">Назад к списку статей</a>
    </div>
</div>
