<h1>Редактирование пользователя</h1>

<form action="" method="post" id="contentForm" enctype="multipart/form-data">
    {include file='formBlocks.tpl'}

	<div style="margin-left:200px">
		<input type="submit" value="Сохранить" name="doSave" class="handyButton" />
	</div>
</form>