/* CSS Document */
body {
	background-color:#fff;
	background-image:url(/templates/admin/default/images/backgrounds/body.jpg);
	background-position:top;
	background-repeat:repeat-x;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:75%;
	color:#777;
	margin:0;
}

* {
	padding:0;
	margin:0
}

a img {
	border: none;
}

#container {
	width:95%;
	margin:0 auto 0 auto;
}

#header {
	height:69px;
}
#header img {
	border: none;
}

#header h1 {
	font-family:Century Gothic, "Trebuchet MS", Tahoma, Verdana;
	font-size:250%;
	color:#333;
	letter-spacing:-1px;
	padding:15px 50px 0 10px;
	float:left;
}
#header h1 a {
	position: absolute;
	color:#000;
	text-decoration:none;
}
#header h3 {
	padding:33px 0 5px 40px;
	font-size:100%;
	color:#ccc;
	font-weight:normal;
	margin: 0 0 0 270px; /* Adjust this value for the space between the site title and the slogan */
}
#sidebar_bottom {
	background-image:url(/templates/admin/default/images/backgrounds/sidebarbottom.jpg);
	height:53px;
}

#nav {
	margin:0px 20px 0 0 !important;
	margin:0px 10px 0 0;
	padding:0;
	float:right;
}

#nav li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}

#nav li a {
	display:block;
	padding:3px 5px 12px 10px;
	margin:2px 1px 0 1px;
	color:#666;
	text-decoration:none;
	font-size: 1.15em;
}

#nav li a:hover, .active {
	background-image:url(/templates/admin/default/images/backgrounds/menu_a_hover.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	color:#000;
}

/*DDmenu*/
#nav li li
{
	width: 100%;
}

#nav li li a
{
	width: 100%;
	margin: 0;
	padding: 4px 0 4px 0;
	text-indent: 7px;
}

#nav li li a:hover {
	background: none;
	background-color: #AFDC01;
	color: #fff;
}
.clear {
	clear:both;
}

#container a:link, #container a:visited {
	color: #666666;
}
#container a:hover {
	color: #000;
}

#sidebar {
	width:230px;
	padding:30px 20px 20px 20px;
	float:left;
	margin:20px 0 0 -101%;
}

#sidebar a{
	font-size: 12px;
	text-decoration: none;
}

#sidebar a:hover
{
	text-decoration: underline;
}

#sidebar ul li{
    list-style: none;
}

#contentwrapper{
	float: left;
	width: 100%;
}

#content {
	margin:50px 0 0 270px;
	padding:0px 30px 20px 20px;
	position:relative;
}

#contentForSingleColumnPage {
	margin: 30px 10px;
}

#content h1, #contentForSingleColumnPage h1 {
	font-family:"Trebuchet MS", Tahoma, Verdana;
	font-size:24px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin:10px 0 20px 0;
	color:#BFEF01;
}
#content h2, #contentForSingleColumnPage h2 {
	font-size:16px;
	color:#333;
	font-family:"Trebuchet MS", Tahoma, Verdana;
	margin:10px;
}

#content p {
	line-height:20px;
	word-spacing:2px;
	padding:0;
	margin:20px 0 20px 0;
}
#content ul {
	margin:15px 0 15px 20px;
	padding:0;
	border-top:1px solid #eee;
}
#content ul li {
	margin:10px 0 10px 0;
	padding:0 0 10px 15px;
	list-style:none;
	border-bottom:1px solid #eee;
	background-position:top left;
	background-repeat:no-repeat;
}
#content #sideblock {
	width:180px;
	padding:10px;
	float:right;
	font-size:90%;
	margin:0 0 0 20px;

}

.sidebarfooter {
	background-color:#eee;
	text-align:left;
	padding:7px 5px 7px 5px;
	font-size:80%;
}
.sidebarfooter a {
	background-color:#f6f6f6;
	padding:3px;
	text-decoration:none;
}
.sidebarfooter a:hover {
	color:#000;
	background-color:#fff;
}
#content #sideblock h1 {
	text-transform:none;
	font-size:120%;
	color:#000;
	margin:0;
	letter-spacing:0;
}
#sideblock p {
	text-indent:0;
	line-height:17px;
	padding:5px;
	margin:5px 0 5px 0;
	color:#bbb;
}
#sideblock ul {
	margin:0 0 5px 5px;
	border:none;
}
#sideblock li {
	margin: 0;
	background-image:none;
	padding:0;
	border:none;
}
#sideblock li a {
	text-decoration:none;
	display:block;
	background-color:#fff;
	padding:5px 5px 5px 10px;
	color:#888;
}
#sideblock li a:hover {
	background-color:#f9f9f9;
	color:#666;
	background-image:url(/templates/admin/default/images/backgrounds/sideblock_li_a_hover.gif);
	background-position:left;
	background-repeat:no-repeat;
}
blockquote {
	background-image:url(/templates/admin/default/images/backgrounds/bq.jpg);
	background-position:top;
	background-repeat:repeat-x;
	padding:5px 35px 5px 5px;
	border:1px solid #eee;
	font-family:"Trebuchet MS", Tahoma, Verdana;
}

#content a {
	color:#444;
	padding:2px;
}
#content a:hover {
	/*background-color:#EBFF99;*/
	color:#000;
}
a:hover {
	text-decoration:none;
}
#sidebar a:link, #sidebar a:visited{
	color:#333;
	font-size: 1.1em;
	text-decoration: none;
}
#sidebar a:hover{
	text-decoration: underline;
}
#sidebar span.menu_item {
	display: block;
	margin: 0 0 6px 0;
}

#sidebar h1 {
	font-family:Century Gothic, "Trebuchet MS", Tahoma, Verdana;
	font-size:20px;
	color:#777;
	font-weight:normal;
	letter-spacing:-1px;
}

#sidebar p {
	font-size:90%;
	line-height:1.3em;
/*	margin:10px 0 10px 0; */
}

#footer {
	clear: both;
	padding:20px;
	border-top:2px solid #ccff00;
	color:#ccc;
	text-align:right;
    width:95%;
}

#footer .left {
    float:left;
}
#footer .right {
    float:right;
    width: 440px;
}

#footer a {
	color:#999;
	font-size: 1.02em;
}
#footer .footerLogo {
	vertical-align: middle;
	border: none;
}

.handyButton { cursor: pointer;}
.moveCursor {cursor:move;}

.submitLink {
   color: grey;
   font-size: 100%;
   text-align: right;
   align: right;
   background-color: transparent;
   text-decoration: none;
   border: none;
   cursor: pointer;
}

.submitLink:hover{
   color: black;
}

.submitLinkDiv{
	width: 500px;
}

.pictogramm{
	border: none;
	margin: 0 5px -1px 0;
	vertical-align: text-bottom;
}

.noborder{
    border: none;
}

.pseudoRow
{
	clear: both;
	padding: 7px 0;

}
.leftPseudoCol
{
	float: left;
	width: 100px;
	padding: 0 25px 0 0;
}
.rightPseudoCol
{
	float: left;
}

.helper {
	margin-left: 5px;
	font-weight: bolder;
}
img.linkIcon {
	vertical-align: middle;
}
a.jsLink:link, a.jsLink:visited{
	text-decoration: none;
	border-bottom: thin #888888  dotted;
}
a.jsLink:hover{
	border-bottom: thin #888888 solid;
}
.hidden {
	display: none;
}

ul#structure span.inactive > a
{
    color: #99958c;
}

ul#structure span.selected > a
{
    background-color: #BFEF01;
}

/* pagination */

#content .tabset,
#container .tabset{
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:relative;
    z-index:100;
}
#content .tabset li,
#container .tabset li{
    list-style: none;
    background-image: none;
    float:left;
    font-weight: bold;
    border-top: 1px solid #BFEF01;
    border-bottom: 1px solid #BFEF01;
}
#content .tabset li a,
#container .tabset li a{
    float: left;
    text-decoration: none;
    font-weight:normal;
}
#content .tabset li:hover,#content .tabset li.active,
#container .tabset li:hover,#container .tabset li.active{
    background: #D9FE4C;
    color: #000000;
}
#content ul.pagination,
#container ul.pagination{border:0;}
#content ul.pagination li,
#container ul.pagination li{
    float:left;
    background-image:none;
    margin: 0 0 20px;
    height: 38px;
    padding: 0;
}
#content ul.pagination li a,
#container ul.pagination li a{
    height: 14px;
    padding: 12px;
    width: 100%;
    display: block;
    position: relative;
}
#content ul.pagination li.next, #content ul.pagination li.prev,
#container ul.pagination li.next, #container ul.pagination li.prev{
    padding-right: 5px;
}

/* pagination [end] */

.error{color:red;}
.success{color:green;}
.nicEditorToggler{
	/*background-image: url("/templates/admin/default/images/buttonClear.png");*/
	background: url("/templates/admin/default/images/buttonClear.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    display: block;
    font-size: 15px;
    height: 44px;
    line-height: 2;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 199px;
}