div.menuBlock {
	margin: 0 0 20px 0;
}
div.menuBlock h1 {
	margin: 0 0 10px 0;
	font-size: 14px;
	color: #B4E201;
}
div.menuBlock ul {
	margin: 0 0 15px 0;
	list-style: circle;
}
#sidebar div.menuBlock ul li {
	margin: 3px 0 0 0;
	list-style: disc;
}

#sidebar div.menuBlock li ul {
	margin: 3px 0 0 15px;
}

#sidebar div.menuBlock li ul li {
    list-style: circle;
}