table, td, th{
    border: 1px solid #EEE;
    border-collapse: collapse;
	padding: 5px;
}
tr.odd{
	background-color: #F3FEF1;
}

tr.selected{
	background-color: #FFD1A4;
}

td.hoverRow{
	background-color: #EFFDD9; 
	cursor: pointer;
}

table.highlightable{
	width: 100%;
}

table.highlightable thead tr{
	background-color: #c6f600;
}