#doctorFilters{
    width: 100%;
}
#doctorFilters, #doctorFilters input, #doctorFilters select{
    font-size: 100%;
}
#doctorFilters input, #doctorFilters select{
    width: 200px;
}
#doctorFilters .title{
    background-color: #E1FF6A;
    width: 25%;
}

.profile_row{
    width: 100%;
    float: left;
    margin: 0 0 15px 0;
}
.profile_rowLeft{
    width: 200px;
    float: left;
    font-weight: bold;
    text-align: right;
    margin: 0 10px 0 0;
}
.profile_rowRight{
    float: left;
}