<ul>
	{foreach from=$ANYEDITOR_OBJECTS item=OBJECT}
		<li {if isset($TABLE_NAME) AND $OBJECT.alias == $TABLE_NAME}class="active"{/if}><a href="{$OBJECT.link}">{$OBJECT.name}</a></li>
		{/foreach}
</ul>