/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.add-nav,
#nav,
.top-section .twocolumns .section-right .price-list,
.top-section .twocolumns .info-holder .price-list,
.top-section .twocolumns .info-holder .description-list,
.sidebar-nav,
.tabset,
.footer-nav .col ul,
.social-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after,
#header .holder:after,
.container:after,
.top-section .twocolumns:after,
.survey .row:after {
	content: "";
	display: block;
	clear: both;
}

#header .heading span a,
.bar a,
.btn,
#nav a,
.action-holder .threecolumns .col .textholder a,
.tabset a,
.tab-content a[href^=tel],
.tab-content dl dd a,
form input[type="submit"] {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #333;
	background: #fff;
	font: 18px/1.1667 "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	color: inherit;
}

h1,
.h1 {
	font-size: 30px;
}

h2,
.h2 {
	font-size: 27px;
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #39f;
}

a:hover,
a:focus {
	text-decoration: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid #999;
	padding: .4em .7em;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #333;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #999;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #999;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

/* Slick slider styles */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.slider-nav {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slider-nav .slick-track,
.slider-nav .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

input[type="email"],
input[type="tel"],
input[type="search"],
input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
textarea {
	-webkit-appearance: none;
}

#wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}

#header {
	padding-top: 105px;
}

#header .top-panel {
	background: #fff;
	border-bottom: 1px solid #649edd;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 110;
}

#header .holder {
	width: 100%;
	max-width: 1700px;
	padding: 5px 15px;
	margin: 0 auto;
}

#header .heading {
	padding: 50px 15px;
	background: -webkit-linear-gradient(top, #649edd 0%, #0864c9 100%);
	background: linear-gradient(to bottom, #649edd 0%, #0864c9 100%);
	white-space: nowrap;
	text-align: center;
	font-size: 22px;
	line-height: 25px;
	color: #fff;
}

#header .heading:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	min-height: 100%;
}

#header .heading > * {
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	max-width: 99%;
}

#header .heading span {
	max-width: 1700px;
}

#header .heading span a {
	color: inherit;
	text-decoration: none;
}

#header .heading span a:hover {
	opacity: .85;
}

.logo {
	float: left;
	width: 162px;
	height: 115px;
	margin: 6px 0 0;
}

.logo img {
	display: block;
}

.bar {
	overflow: hidden;
	text-align: right;
	padding: 12px 29px;
}

.bar .info {
	padding: 0 0 20px;
}

.bar .info a[href^=tel] {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 39px;
	color: #000;
	text-decoration: none;
	opacity: 1;
}

.bar .info a[href^=tel]:hover {
	opacity: .6;
}

.bar .info .btn {
	margin: 0 0 0 34px;
}

.btn {
	background: #4d8fd8;
	color: #fff;
	font-size: 14px;
	line-height: 21px;
	display: inline-block;
	vertical-align: top;
	padding: 8px 23px;
	margin: 0 0 10px;
	text-decoration: none;
	text-align: center;
	opacity: 1;
}

.btn:hover {
	opacity: .85;
}

.add-nav {
	font-size: 14px;
	line-height: 27px;
}

.add-nav li {
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 20px;
}

.add-nav li.active a {
	color: #4d8fd8;
}

.add-nav a {
	color: #010101;
	text-decoration: none;
	opacity: 1;
}

.add-nav a:hover {
	color: #4d8fd8;
}

.carousel {
	position: relative;
	padding: 0 30px;
	overflow: hidden;
}

.carousel .btn-prev {
	position: absolute;
	background: #eee;
	left: 0;
	top: 0;
	width: 30px;
	height: 100%;
	overflow: hidden;
	text-indent: 101%;
	white-space: nowrap;
}

.carousel .btn-prev.disabled {
	background: none;
}

.carousel .btn-prev.disabled:after {
	border: none;
}

.carousel .btn-prev:after {
	position: absolute;
	right: 12px;
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	top: 50%;
	border: 3px solid #666;
	border-width: 0 0 3px 3px;
	-ms-transform: rotate(-315deg);
	-webkit-transform: rotate(-315deg);
	transform: rotate(-315deg);
	margin-top: -3px;
	line-height: 0;
	z-index: 1;
}

.carousel .btn-next {
	position: absolute;
	background: #eee;
	right: 0;
	top: 0;
	width: 30px;
	height: 100%;
	overflow: hidden;
	text-indent: 101%;
	white-space: nowrap;
}

.carousel .btn-next.disabled {
	background: none;
}

.carousel .btn-next.disabled:after {
	border: none;
}

.carousel .btn-next:after {
	position: absolute;
	right: 12px;
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	top: 50%;
	border: 3px solid #666;
	border-width: 0 0 3px 3px;
	-ms-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin-top: -3px;
	line-height: 0;
	z-index: 1;
}

.main-nav {
	width: 100%;
	max-width: 1700px;
	padding: 0 15px;
	margin: 0 auto;
}

#nav {
	float: left;
	width: 100% !important;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	letter-spacing: -4px;
}

#nav li {
	float: none;
	width: 33.3% !important;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	letter-spacing: 0;
}

#nav li.active a {
	background: #eee;
}

#nav a {
	display: block;
	padding: 10px;
	color: #3b4351;
	text-decoration: none;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

#nav a:hover {
	background: #eee;
}

.nav-opener {
	float: right;
	width: 60px;
	height: 40px;
	position: relative;
	margin: 26px 0 0;
	z-index: 10;
}

.nav-opener:hover {
	opacity: .9;
}

.nav-opener span,
.nav-opener:before,
.nav-opener:after {
	background: #116acb;
	position: absolute;
	top: 50%;
	left: 25%;
	right: 25%;
	height: 4px;
	margin-top: -2px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.nav-opener:before,
.nav-opener:after {
	content: "";
	top: 30%;
}

.nav-opener:after {
	top: 70%;
}

.nav-active .nav-opener span {
	opacity: 0;
}

.nav-active .nav-opener:before,
.nav-active .nav-opener:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 50%;
	left: 15%;
	right: 15%;
}

.nav-active .nav-opener:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.container {
	width: 100%;
	max-width: 1700px;
	padding: 0 15px;
	margin: 0 auto;
}

.top-section {
	background: #eee;
	padding: 35px 0;
}

.top-section .twocolumns {
	padding: 0 0 27px;
	color: #000;
}

.top-section .twocolumns .text-holder {
	float: left;
	width: 30%;
	padding: 25px 30px;
}

.top-section .twocolumns .text-holder h1 {
	margin: 0 0 30px;
	font-size: 25px;
	line-height: 28px;
	font-weight: normal;
}

.top-section .twocolumns .text-holder p {
	margin: 0 0 20px;
}

.top-section .twocolumns .section-right {
	width: 70%;
	float: right;
	background: #fff;
	padding: 20px 55px 55px;
}

.top-section .twocolumns .section-right p {
	margin: 0 0 20px;
}

.top-section .twocolumns .section-right .twocolumns {
	padding: 30px 0 0;
	margin: 0 -10px;
}

.top-section .twocolumns .section-right .twocolumns .content-holder {
	padding: 0 10px;
}

.top-section .twocolumns .section-right .twocolumns .img-holder {
	padding: 5px 10px;
}

.top-section .twocolumns .section-right .twocolumns .img-holder img {
	vertical-align: top;
}

.top-section .twocolumns .section-right .threecolumns {
	overflow: hidden;
	margin: 0 -20px;
}

.top-section .twocolumns .section-right .threecolumns .col {
	padding: 0 20px;
}

.top-section .twocolumns .section-right .price-list li {
	padding: 15px 0;
	overflow: hidden;
	position: relative;
}

.top-section .twocolumns .section-right .price-list li:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 1px;
	background: #116acb;
}

.top-section .twocolumns .section-right .price-list .name {
	float: left;
	background: #fff;
	color: #666;
	padding: 0 10px 0 0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

.top-section .twocolumns .section-right .price-list .price {
	float: right;
	background: #fff;
	color: #000;
	padding: 0 0 0 10px;
	position: relative;
	line-height: 23px;
}

.top-section .twocolumns .section-right .price-list .price strong {
	font-size: 14px;
	line-height: 23px;
	color: #116acb;
	font-weight: 700;
	background: url(../images/bg-num.png) no-repeat 100% 50%/auto 12px;
	display: inline-block;
	vertical-align: top;
	padding: 0 15px 0 0;
}

.top-section .twocolumns .slick-slider {
	width: 70%;
	float: right;
}

.top-section .twocolumns .slick-slider .slick-slide {
	background: #fff;
	padding: 20px 55px 55px;
}

.top-section .twocolumns .info-holder .heading {
	overflow: hidden;
	padding: 0 0 20px;
}

.top-section .twocolumns .info-holder .heading h2 {
	font-size: 25px;
	line-height: 28px;
	font-weight: normal;
	margin: 0;
}

.top-section .twocolumns .info-holder .heading dl {
	overflow: hidden;
}

.top-section .twocolumns .info-holder .heading dl dt {
	display: block;
	font-weight: normal;
	margin: 0 0 20px;
}

.top-section .twocolumns .info-holder .heading dl dd {
	display: block;
	margin: 0;
}

.top-section .twocolumns .info-holder .heading dl dd img {
	float: left;
	margin: 0 15px 0 0;
}

.top-section .twocolumns .info-holder .heading dl dd .text {
	overflow: hidden;
}

.top-section .twocolumns .info-holder .heading dl dd .text > * {
	display: block;
}

.top-section .twocolumns .info-holder .price-list {
	padding: 0 0 20px;
}

.top-section .twocolumns .info-holder .price-list li {
	position: relative;
	padding: 0 0 15px 20px;
}

.top-section .twocolumns .info-holder .price-list li .price {
	display: block;
	line-height: 33px;
}

.top-section .twocolumns .info-holder .price-list li .price .num {
	font-size: 14px;
	line-height: 33px;
	color: #116acb;
	font-weight: 700;
	background: url(../images/bg-num.png) no-repeat 100% 50%/auto 12px;
	display: inline-block;
	vertical-align: top;
	padding: 0 15px 0 0;
}

.top-section .twocolumns .info-holder .price-list li .comment span {
	font-weight: 700;
	color: #116acb;
}

.top-section .twocolumns .info-holder .threecolumns {
	overflow: hidden;
}

.top-section .twocolumns .info-holder .threecolumns .column {
	width: 30%;
	float: left;
	padding: 0 20px 0 0;
}

.top-section .twocolumns .info-holder .threecolumns .column:first-child {
	width: 40%;
}

.top-section .twocolumns .info-holder .threecolumns .column p {
	margin: 0 0 20px;
}

.top-section .twocolumns .info-holder .threecolumns .btn {
	border-radius: 5px;
	font-size: 16px;
	line-height: 27px;
	min-width: 205px;
	background: #116acb;
}

.top-section .twocolumns .info-holder .description-list li {
	vertical-align: top;
	overflow: hidden;
	padding: 0 0 20px;
}

.top-section .twocolumns .info-holder .description-list .ico-holder {
	float: left;
	overflow: hidden;
	border: 1px solid #eee;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	white-space: nowrap;
	text-align: center;
	margin: 0 15px 0 0;
}

.top-section .twocolumns .info-holder .description-list .ico-holder:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	min-height: 100%;
}

.top-section .twocolumns .info-holder .description-list .ico-holder > * {
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	max-width: 99%;
}

.top-section .twocolumns .info-holder .description-list .text {
	overflow: hidden;
	height: 1%;
	display: block;
}

.top-section .twocolumns .info-holder .description-list .text strong {
	display: block;
	font-size: 20px;
	line-height: 23px;
}

.top-section .twocolumns .info-holder .description-list .text span {
	display: block;
}

.top-section .slider-nav {
	padding: 0 110px 0 0;
	position: relative;
}

.top-section .slider-nav .slick-slide {
	padding: 20px 5px 0;
}

.top-section .slider-nav .slick-slide.slick-current .block {
	border: 1px solid #116acb;
}

.top-section .slider-nav .slick-slide.slick-current .block:before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	border-bottom-color: #116acb;
	border-width: 12px 11px;
	margin: 0 0 0 -11px;
}

.top-section .slider-nav .slick-slide.slick-current .block:after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	border-bottom-color: #fff;
	border-width: 12px 11px;
	margin: 0 0 -1px -11px;
}

.top-section .slider-nav .slick-slide .block {
	border: 1px solid #fff;
	background: #fff;
	padding: 28px 30px;
	color: #000;
	font-size: 16px;
	line-height: 36px;
	position: relative;
}

.top-section .slider-nav .slick-slide .block .heading {
	overflow: hidden;
	padding: 0 0 22px;
}

.top-section .slider-nav .slick-slide .block .heading h3 {
	float: left;
	font-size: 20px;
	line-height: 40px;
	font-weight: normal;
	margin: 0;
}

.top-section .slider-nav .slick-slide .block .heading .price {
	float: right;
	color: #116acb;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	background: url(../images/bg-num.png) no-repeat 100% 50%;
	padding: 0 28px 0 0;
}

.top-section .slider-nav .slick-slide .block p {
	margin: 0;
}

.top-section .slider-nav .slick-prev {
	display: none !important;
}

.top-section .slider-nav .slick-next {
	position: absolute;
	top: 50%;
	right: 0;
	width: 58px;
	height: 113px;
	background: url(../images/arrow-next.png) no-repeat;
	margin-top: -56px;
	border: none;
	overflow: hidden;
	text-indent: -9999px;
}

.top-section .slider-nav .slick-next:hover {
	opacity: .75;
}

.sidebar-nav {
	background: #fff;
	border: 1px solid #666;
}

.sidebar-nav li {
	vertical-align: top;
	border-top: 1px solid #666;
}

.sidebar-nav li:first-child {
	border-top: none;
}

.sidebar-nav li.active a {
	color: #4d8fd8;
}

.sidebar-nav a {
	display: block;
	color: #666;
	padding: 10px 15px;
	text-decoration: none;
}

.sidebar-nav a:hover {
	color: #4d8fd8;
}

.content-block {
	padding-top: 50px;
	padding-bottom: 50px;
	border: solid #666;
	border-width: 1px 0;
	text-align: center;
}

.content-block h2 {
	font-size: 22px;
	line-height: 40px;
	font-weight: normal;
	margin: 0 0 30px;
}

.content-block h2 .img {
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	margin: 0 20px 0 0;
	border: 1px solid #666;
	border-radius: 50%;
	font-size: 12px;
	line-height: 15px;
	white-space: nowrap;
	text-align: center;
}

.content-block h2 .img:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	min-height: 100%;
}

.content-block h2 .img > * {
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	max-width: 99%;
}

.content-block h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	margin: 0 0 10px;
	text-align: center;
}

.content-block p {
	margin: 0 0 25px;
}

.content-block .img-area {
	overflow: hidden;
	padding-bottom: 20px;
}

.content-block .alignleft {
	text-align: center;
	margin: 0 0 25px;
	font-size: 12px;
	line-height: 15px;
}

.content-block .alignleft img {
	vertical-align: top;
}

.post-area {
	color: #010101;
	padding-top: 40px;
	padding-bottom: 5px;
}

.post-area h2 {
	font-size: 20px;
	line-height: 25px;
	font-weight: normal;
	margin: 0 0 30px;
}

.columns {
	color: #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.columns .column {
	width: 100%;
	padding: 0 0 20px;
	font-size: 16px;
	line-height: 21px;
}

.columns .column h3 {
	font-weight: 700;
	margin: 0 0 10px;
	font-size: 16px;
	line-height: 23px;
}

.columns .column p {
	margin: 0 0 20px;
}

.action-holder {
	background: #eee;
	padding-top: 65px;
	padding-bottom: 50px;
}

.action-holder h2 {
	font-size: 20px;
	line-height: 25px;
	font-weight: normal;
	margin: 0 20px 45px;
}

.action-holder .threecolumns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -19px;
}

.action-holder .threecolumns .col {
	width: 100%;
	padding: 0 19px 20px;
	font-size: 14px;
	line-height: 21px;
}

.action-holder .threecolumns .col .img-holder {
	overflow: hidden;
}

.action-holder .threecolumns .col .img-holder img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform .3s linear 0s;
	transition: transform .3s linear 0s;
}

.action-holder .threecolumns .col .img-holder a:hover img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.action-holder .threecolumns .col .textholder {
	background: #fff;
	padding: 28px 30px 8px;
}

.action-holder .threecolumns .col .textholder a {
	color: #116acb;
	text-decoration: none;
}

.action-holder .threecolumns .col .textholder a:hover {
	opacity: .75;
}

.action-holder .threecolumns .col .textholder p {
	margin: 0 0 20px;
}

.action-holder .threecolumns .inner {
	background: #fff;
}

.js-tab-hidden {
	display: block !important;
	left: -9999px !important;
	position: absolute !important;
	top: -9999px !important;
}

#footer {
	padding-top: 25px;
	padding-bottom: 25px;
	color: #666;
}

#footer h3 {
	font-weight: 400;
	margin: 0 0 10px;
	font-size: 16px;
	line-height: 23px;
	color: #666;
}

#footer .column {
	padding: 0 0 1px;
}

.tabset {
	padding: 0 0 20px;
}

.tabset li {
	display: inline-block;
	vertical-align: top;
	padding: 0 5px 8px 0;
}

.tabset a {
	color: #fff;
	display: block;
	position: relative;
	background: #116acb;
	border: 1px solid #116acb;
	padding: 10px 15px;
	text-decoration: none;
}

.tabset a:hover {
	background: #fff;
	color: #666;
}

.tabset a.active {
	background: #fff;
	color: #666;
}

.tabset a.active:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	border: solid transparent;
	border-top-color: #116acb;
	border-width: 12px 11px;
	margin: 0 0 0 -11px;
}

.tabset a.active:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	border: solid transparent;
	border-top-color: #fff;
	border-width: 12px 11px;
	margin: -1px 0 0 -11px;
}

.tab-content a[href^=tel] {
	display: inline-block;
	vertical-align: top;
	color: #666;
	text-decoration: none;
	opacity: 1;
	font-size: 14px;
	line-height: 39px;
}

.tab-content a[href^=tel]:hover {
	opacity: .6;
}

.tab-content dl {
	margin: 0 0 20px;
	overflow: hidden;
}

.tab-content dl dt {
	float: left;
	font-weight: normal;
}

.tab-content dl dd {
	float: left;
	margin: 0 35px 0 3px;
}

.tab-content dl dd a {
	color: #116acb;
	text-decoration: underline;
}

.tab-content dl dd a:hover {
	text-decoration: none;
}

.tab-content .info p {
	margin: 0;
}

.footer-nav {
	overflow: hidden;
	padding: 0 0 20px;
}

.footer-nav .col {
	padding: 0 0 1px;
}

.footer-nav .col ul {
	padding: 5px 0 20px;
}

.footer-nav .col ul li {
	vertical-align: top;
	padding: 0 0 7px;
}

.footer-nav .col ul a {
	color: #116acb;
	text-decoration: none;
}

.footer-nav .col ul a:hover {
	text-decoration: underline;
}

.social-list li {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 10px 0;
}

.social-list a {
	display: block;
	overflow: hidden;
	text-indent: 101%;
	white-space: nowrap;
	background: url(../images/social-ico.png) no-repeat;
	width: 39px;
	height: 39px;
	text-decoration: none;
}

.social-list a.facebook {
	background-position: -52px 0;
	width: 40px;
}

.social-list a.instagram {
	background-position: -103px 0;
	width: 40px;
}

.social-list a:hover {
	opacity: .75;
}

form input {
	border: 1px solid #b2b2b2;
	background: #fff;
	width: 100%;
	overflow: hidden;
	height: 48px;
	padding: 5px 10px;
	margin: 0;
	color: #666;
	font-size: 14px;
	line-height: 39px;
}

form input[type="submit"] {
	width: auto;
	background: #116acb;
	border-radius: 5px;
	border: 0;
	color: #fff;
}

form input[type="submit"]:hover {
	opacity: .85;
}

.survey {
	padding: 27px 0;
}

.survey h2 {
	font-size: 20px;
	line-height: 25px;
	font-weight: normal;
	margin: 0 0 20px;
}

.survey .row .area {
	padding: 0 0 20px;
}

.survey .row .select-block {
	padding: 0 0 20px;
}

.survey .row .select-block > div {
	overflow: hidden;
}

.survey .row .select-block select {
	width: 100%;
}

.survey .row .select-block .select-area {
	width: 100% !important;
}

.survey .row input[type="submit"] {
	width: 100%;
	height: 48px;
}

/* hide original element */

.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}

/* custom select styles */

.select-area {
	border: 1px solid #b2b2b2;
	background: #f6f6f6;
	position: relative;
	overflow: hidden;
	cursor: default;
	height: 48px;
	float: left;
	padding: 0 20px 0 10px;
}

.select-area .center {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 100%;
	line-height: 46px;
}

.select-disabled {
	background: #eee;
}

.select-area .select-opener {
	background: #fff url(../images/btn-select.png) no-repeat 50% 50%;
	border-left: 1px solid #b2b2b2;
	position: absolute;
	height: 46px;
	width: 46px;
	right: 0;
	top: 0;
}

.select-options {
	position: absolute;
	overflow: hidden;
	background: #fff;
	z-index: 2000;
}

.select-options .opt-disabled a {
	background: #fff !important;
	color: #aaa !important;
}

.select-options .drop-holder {
	border: 1px solid #b2b2b2;
	overflow: hidden;
	height: 1%;
}

.select-options ul {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.select-options ul li {
	width: 100%;
	float: left;
	border-top: 1px solid #b2b2b2;
}

.select-options ul li:first-child {
	border-top: none;
}

.select-options ul a {
	text-decoration: none;
	padding: 12px 10px;
	display: block;
	cursor: default;
	color: #666;
	height: 1%;
}

.select-options .item-selected a {
	text-decoration: none;
	background: #eee;
}

/* select options optgroup example styles */

.select-options .optgroup {
	clear: both;
}

.select-options .optgroup strong {
	display: block;
	padding: 5px;
}

.select-options .optgroup ul a {
	padding-left: 30px;
}

@media (min-width: 600px) {
	#nav li {
		width: 20% !important;
	}
}

@media (min-width: 768px) {
	#header .heading {
		padding: 110px 15px;
	}

	.btn {
		font-size: 18px;
	}

	.top-section .twocolumns .section-right .twocolumns .content-holder {
		float: left;
		width: 50%;
	}

	.top-section .twocolumns .section-right .twocolumns .img-holder {
		float: left;
		width: 50%;
	}

	.top-section .twocolumns .info-holder .price-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 0 0 40px;
	}

	.top-section .twocolumns .info-holder .price-list li {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		padding: 0 0 72px;
	}

	.top-section .twocolumns .info-holder .price-list li:before {
		content: "";
		position: absolute;
		bottom: 54px;
		left: 0;
		right: 0;
		height: 4px;
		background: #eee;
	}

	.top-section .twocolumns .info-holder .price-list li.active .price:after {
		content: "";
		position: absolute;
		bottom: 48px;
		left: 8px;
		background: #116acb;
		border-radius: 50%;
		width: 16px;
		height: 16px;
	}

	.top-section .twocolumns .info-holder .price-list li:last-child:before {
		background: none;
	}

	.top-section .twocolumns .info-holder .price-list li .price:before {
		content: "";
		position: absolute;
		bottom: 40px;
		left: 0;
		background: #fff;
		border: 4px solid #eee;
		border-radius: 50%;
		width: 32px;
		height: 32px;
	}

	.top-section .twocolumns .info-holder .price-list li .comment {
		position: absolute;
		bottom: 15px;
		left: 0;
	}

	.content-block {
		text-align: left;
	}

	.content-block .container {
		padding-left: 45px;
		padding-right: 45px;
	}

	.content-block .alignleft {
		float: left;
		margin: 0 25px 25px 0;
		max-width: 50%;
	}

	.content-block .alignleft img {
		width: 100%;
		height: auto;
	}

	.post-area {
		padding-top: 65px;
		padding-bottom: 50px;
	}

	.columns .column {
		width: 25%;
		padding: 0 20px 20px;
	}

	.columns .column h3 {
		font-size: 20px;
		margin: 0 0 30px;
	}

	.action-holder .threecolumns .col {
		width: 33.3333%;
		padding: 0 19px 20px;
		font-size: 16px;
	}

	#footer {
		padding-top: 55px;
		padding-bottom: 60px;
	}

	#footer h3 {
		font-size: 20px;
		margin: 0 0 30px;
	}

	#footer .column {
		width: 50%;
		float: left;
		padding: 0;
	}

	.footer-nav {
		padding: 0 0 70px;
	}

	.footer-nav .col {
		float: left;
		width: 33.3333%;
		padding: 0 10px 0 0;
	}

	.footer-nav .col ul {
		display: block !important;
		left: auto !important;
		position: static !important;
		top: auto !important;
		padding: 5px 0 20px !important;
		height: auto !important;
		margin: 0 !important;
	}
}

@media (min-width: 1024px) {
	#header {
		padding-top: 115px;
	}

	#nav a {
		padding: 80px 5px 5px;
		text-align: center;
	}

	#nav a .img {
		position: absolute;
		top: 0;
		left: 0;
		height: 76px;
		width: 100%;
		float: none;
		white-space: nowrap;
		text-align: center;
	}

	#nav a .img:after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 0;
		min-height: 100%;
	}

	#nav a .img > * {
		white-space: normal;
		display: inline-block;
		vertical-align: middle;
		max-width: 99%;
	}

	.nav-opener {
		display: none;
	}

	.top-section .twocolumns .section-right .threecolumns .col {
		float: left;
		width: 33.3333%;
	}

	.top-section .twocolumns .info-holder .heading {
		padding: 0 0 45px;
	}

	.top-section .twocolumns .info-holder .heading h2 {
		float: left;
	}

	.top-section .twocolumns .info-holder .heading dl {
		float: right;
	}

	.top-section .twocolumns .info-holder .heading dl dt {
		float: left;
		width: 180px;
		text-align: right;
	}

	.top-section .twocolumns .info-holder .heading dl dd {
		float: left;
		margin: 0;
		width: 265px;
	}

	.top-section .twocolumns .info-holder .heading dl dd img {
		margin: 0 15px 0 20px;
	}

	.top-section .twocolumns .info-holder .threecolumns .btn {
		font-size: 24px;
		min-width: 120px;
	}

	.survey .row {
		padding: 0 130px 0 0;
		position: relative;
	}

	.survey .row .area {
		float: left;
		width: 50%;
		padding: 0;
	}

	.survey .row .select-block {
		float: right;
		width: 50%;
		padding: 0 0 0 16px;
	}

	.survey .row input[type="submit"] {
		position: absolute;
		top: 0;
		right: 0;
		width: 114px;
	}
}

@media (min-width: 1200px) {
	#header .heading {
		font-size: 40px;
		line-height: 65px;
	}

	.bar .info a[href^=tel] {
		font-size: 16px;
		line-height: 39px;
	}

	.add-nav {
		font-size: 16px;
		line-height: 27px;
	}

	.carousel {
		padding: 0;
	}

	.carousel .btn-prev {
		display: none;
	}

	.carousel .btn-next {
		display: none;
	}

	#nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		border: none;
		width: 100%;
		float: none;
		white-space: normal;
		letter-spacing: 0;
	}

	#nav li {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		width: 10% !important;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		border: none;
	}

	.top-section .twocolumns .text-holder h1 {
		font-size: 40px;
		line-height: 65px;
	}

	.top-section .twocolumns .section-right .price-list .name {
		font-size: 20px;
		line-height: 27px;
	}

	.top-section .twocolumns .section-right .price-list .price {
		line-height: 27px;
	}

	.top-section .twocolumns .section-right .price-list .price strong {
		font-size: 20px;
		line-height: 27px;
		background: url(../images/bg-num.png) no-repeat 100% 50%/auto 15px;
		padding: 0 22px 0 0;
	}

	.top-section .twocolumns .info-holder .heading h2 {
		font-size: 40px;
		line-height: 65px;
	}

	.top-section .twocolumns .info-holder .price-list li .price .num {
		font-size: 24px;
		line-height: 33px;
		background: url(../images/bg-num.png) no-repeat 100% 50%/auto 15px;
		padding: 0 22px 0 0;
	}

	.top-section .twocolumns .info-holder .description-list .text strong {
		font-size: 24px;
		line-height: 27px;
	}

	.top-section .slider-nav .slick-slide .block {
		font-size: 18px;
		line-height: 36px;
	}

	.top-section .slider-nav .slick-slide .block .heading h3 {
		font-size: 26px;
		line-height: 40px;
	}

	.top-section .slider-nav .slick-slide .block .heading .price {
		font-size: 26px;
		line-height: 40px;
	}

	.content-block h2 {
		font-size: 26px;
		line-height: 40px;
		margin: 0 0 50px;
	}

	.content-block h3 {
		font-size: 18px;
		line-height: 27px;
	}

	.post-area h2 {
		font-size: 26px;
		line-height: 30px;
		margin: 0 20px 30px;
	}

	.columns .column {
		font-size: 20px;
		line-height: 25px;
	}

	.columns .column h3 {
		font-size: 24px;
		line-height: 27px;
	}

	.action-holder h2 {
		font-size: 26px;
		line-height: 30px;
	}

	.action-holder .threecolumns .col {
		font-size: 20px;
		line-height: 25px;
	}

	#footer h3 {
		font-size: 24px;
		line-height: 27px;
	}

	.tab-content a[href^=tel] {
		font-size: 16px;
		line-height: 39px;
	}

	form input {
		font-size: 16px;
		line-height: 39px;
	}

	.survey h2 {
		font-size: 26px;
		line-height: 30px;
		margin: 0 0 30px;
	}

	.survey .row .area {
		width: 60%;
	}

	.survey .row .select-block {
		width: 40%;
	}
}

@media (min-width: 1600px) {
	#header .heading {
		font-size: 60px;
		line-height: 65px;
	}

	.bar .info a[href^=tel] {
		font-size: 24px;
		line-height: 39px;
	}

	.add-nav {
		font-size: 24px;
		line-height: 27px;
	}

	.top-section .twocolumns .text-holder h1 {
		font-size: 60px;
		line-height: 65px;
	}

	.top-section .twocolumns .section-right .price-list .name {
		font-size: 30px;
		line-height: 33px;
	}

	.top-section .twocolumns .section-right .price-list .price {
		line-height: 33px;
	}

	.top-section .twocolumns .section-right .price-list .price strong {
		font-size: 30px;
		line-height: 33px;
		background: url(../images/bg-num.png) no-repeat 100% 50%/auto 23px;
		padding: 0 28px 0 0;
	}

	.top-section .twocolumns .info-holder .heading h2 {
		font-size: 60px;
		line-height: 65px;
	}

	.top-section .twocolumns .info-holder .price-list li .price .num {
		font-size: 30px;
		line-height: 33px;
		background: url(../images/bg-num.png) no-repeat 100% 50%/auto 23px;
		padding: 0 28px 0 0;
	}

	.top-section .twocolumns .info-holder .threecolumns .btn {
		min-width: 205px;
	}

	.top-section .twocolumns .info-holder .description-list .text strong {
		font-size: 30px;
		line-height: 33px;
	}

	.top-section .slider-nav .slick-slide .block {
		font-size: 20px;
		line-height: 36px;
	}

	.top-section .slider-nav .slick-slide .block .heading h3 {
		font-size: 36px;
		line-height: 40px;
	}

	.top-section .slider-nav .slick-slide .block .heading .price {
		font-size: 36px;
		line-height: 40px;
	}

	.content-block h2 {
		font-size: 36px;
		line-height: 40px;
		margin: 0 0 50px;
	}

	.post-area h2 {
		font-size: 36px;
		line-height: 40px;
		margin: 0 20px 45px;
	}

	.columns .column {
		font-size: 24px;
		line-height: 27px;
	}

	.columns .column h3 {
		font-size: 30px;
		line-height: 35px;
	}

	.action-holder h2 {
		font-size: 36px;
		line-height: 40px;
	}

	.action-holder .threecolumns .col {
		font-size: 24px;
		line-height: 27px;
	}

	#footer h3 {
		font-size: 30px;
		line-height: 35px;
	}

	.tab-content a[href^=tel] {
		font-size: 24px;
		line-height: 39px;
	}

	.tab-content .info dl dd {
		float: none;
		overflow: hidden;
		height: 1%;
		display: block;
	}

	form input {
		font-size: 24px;
		line-height: 39px;
	}

	.survey h2 {
		font-size: 36px;
		line-height: 40px;
		margin: 0 0 45px;
	}

	.survey .row {
		padding: 0 221px 0 0;
	}

	.survey .row input[type="submit"] {
		width: 205px;
	}
}

@media (max-width: 1599px) {
	body {
		font-size: 16px;
	}

	.top-section .twocolumns .section-right .threecolumns .col {
		font-size: 14px;
	}

	.top-section .twocolumns .info-holder .threecolumns .column {
		font-size: 14px;
	}

	.tab-content dl dt {
		clear: left;
		font-weight: 700;
	}
}

@media (max-width: 1199px) {
	.main-nav {
		font-size: 14px;
		padding: 0;
		overflow: hidden;
		width: 100%;
		float: left;
		position: relative;
	}

	#nav a {
		height: 120px !important;
	}
}

@media (max-width: 1023px) {
	body {
		font-size: 14px;
	}

	.logo {
		margin: 5px 0 0;
		width: 127px;
		height: 90px;
	}

	.bar {
		position: absolute;
		top: 105px;
		left: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		background: #fff;
		-webkit-transition: all .3s linear;
		transition: all .3s linear;
		z-index: 100;
		text-align: center;
		border-top: 1px solid #4d8fd8;
	}

	.nav-active .bar {
		margin: 0 0 0 -100%;
	}

	.resize-active .bar {
		-webkit-transition: none;
		transition: none;
	}

	.bar .info {
		padding: 0 20px 14px;
	}

	.bar .info .btn {
		display: block;
		margin: 0 auto;
	}

	.add-nav {
		border-top: 1px solid #4d8fd8;
	}

	.add-nav li {
		display: block;
		border-bottom: 1px solid #4d8fd8;
		padding: 0;
	}

	.add-nav a {
		display: block;
		padding: 10px;
	}

	#nav a {
		padding: 76px 5px 0;
		text-align: center;
		height: 76px !important;
		overflow: hidden;
	}

	#nav a .img {
		position: absolute;
		top: 0;
		left: 0;
		height: 76px;
		width: 100%;
		float: none;
		white-space: nowrap;
		text-align: center;
	}

	#nav a .img:after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 0;
		min-height: 100%;
	}

	#nav a .img > * {
		white-space: normal;
		display: inline-block;
		vertical-align: middle;
		max-width: 99%;
	}

	.top-section .twocolumns .slick-slider .slick-slide {
		padding: 20px 25px 55px;
	}

	.top-section .twocolumns .info-holder .price-list li .price {
		font-size: 12px;
	}

	.top-section .twocolumns .info-holder .price-list li .comment {
		font-size: 12px;
	}

	.top-section .twocolumns .info-holder .threecolumns .column {
		float: none;
		width: 100%;
		padding: 20px 0 0;
	}

	.top-section .twocolumns .info-holder .threecolumns .column:first-child {
		float: none;
		width: 100%;
		padding: 0;
	}
}

@media (max-width: 767px) {
	.top-section .twocolumns .text-holder {
		width: 100%;
		float: none;
		padding: 0 0 10px;
	}

	.top-section .twocolumns .section-right {
		width: 100%;
		float: none;
		padding: 20px;
	}

	.top-section .twocolumns .slick-slider {
		width: 100%;
		float: none;
		padding: 5px;
	}

	.top-section .twocolumns .slick-slider .slick-slide {
		padding: 20px;
	}

	.top-section .twocolumns .info-holder .price-list li:before {
		content: "";
		position: absolute;
		top: 9px;
		left: 0;
		background: #fff;
		border: 2px solid #eee;
		border-radius: 50%;
		width: 14px;
		height: 14px;
	}

	.top-section .twocolumns .info-holder .price-list li.active:after {
		content: "";
		position: absolute;
		top: 13px;
		left: 4px;
		background: #116acb;
		border-radius: 50%;
		width: 6px;
		height: 6px;
	}

	.top-section .slider-nav {
		padding: 0 60px 0 0;
	}

	.top-section .slider-nav .slick-next {
		background-size: auto 70px;
		width: 36px;
		height: 70px;
		margin-top: -35px;
	}

	.action-holder .threecolumns .col .textholder {
		height: auto !important;
	}

	.footer-nav h3 {
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 0 20px 0 0;
	}

	.footer-nav h3:after {
		content: "";
		position: absolute;
		right: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: solid transparent;
		border-top-color: #666;
		border-width: 5px;
	}

	.footer-nav .col.active h3:after {
		border-top-color: transparent;
		border-bottom-color: #666;
		margin-top: -7px;
	}
}
/*15.09.2017*/
.price-list label {
	background: #fff none repeat scroll 0 0;
    border: 4px solid #eee;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    bottom: 40px;
    content: "";
    height: 32px;
    left: 0;
    position: absolute;
    width: 32px;
	z-index:0;
}
.price-list label:hover {cursor:pointer;}
.top-section .twocolumns .info-holder .price-list li .price:before,
.top-section .twocolumns .info-holder .price-list li.active .price:after {display:none;}
.price-list label:before {
	background: #116acb none repeat scroll 0 0;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    width: 16px;
	opacity:0;
	z-index:1;
	
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
.customRadio {display:none;}
.customRadio:checked + label:before {opacity:1;}
#header {padding-top:0;}
#header .top-panel {position:relative;}
.slick-slide {outline:none;}
@media (max-width: 1023px) {
	#nav a {height:110px !important;}
}
@media (max-width: 900px) {
	#nav li {width:25% !important;}
}
@media (max-width: 767px) {
	.top-section .twocolumns .info-holder .price-list li.active:after,
	.top-section .twocolumns .info-holder .price-list li:before {display:none;}
	.price-list label {
		top: 9px;
		left: 0;
		border: 2px solid #eee;
		width: 22px;
		height: 22px;
	}
	.price-list label:before {
		top: 4px;
		left: 4px;
		width: 10px;
		height: 10px;
	}
	.top-section .twocolumns .info-holder .price-list li {padding:0 0 15px 40px;}
	.main-nav {font-size:13px;}
}
@media (max-width: 600px) {
	#nav li {width:33.333% !important;}
}
@media (max-width: 500px) {
	#nav li {width:50% !important;}
}