<div class="feedback_messageItem {$localVars.NAME}">
	<table class="highlightable " style="width: 1020px;">
        <tbody>
			{foreach from=$localVars.RECORDS key=ind item=item}
				<tr id="itms_{$ind}" title="ololol">
					<td>
						{$item.name}
						<input type="hidden" name="{if !empty($localVars.tableName)}{$localVars.tableName}[{if isset($localVars.formIndex)}{$localVars.formIndex}][{/if}{$localVars.NAME}__{$localVars.field}]{else}{$localVars.NAME}__{$localVars.field}{/if}[]" value="{$item.id}">
					</td>
					<td style="text-align: center;">
						<input class="btn up" value="&uparrow;" type="button" alt=""/>
						<input class="btn down" value="&downarrow;" type="button" alt=""/>
					</td>
				</tr>
			{/foreach}
        </tbody>
	</table>
</div>
