{if $cart}
					<!--form action="{$MODULE_ALIAS}" method="POST">
					<input type="hidden" name="orderID" value="{$ORDER.orderID}" /-->

					<table id="cart">
						<tr>
							<th style="width:40%">Наименование</th>
							<th style="width:10%">Артикул</th>
							<th style="width:10%">Цена</th>
							<th style="width:1%">Установка</th>
							<th style="width:10%">Количество</th>
							<th style="width:10%">Сумма</th>
							<th style="width:1%">[X]</th>
						</tr>
						{foreach from=$cart item=ENTRY key=I}
    						{if isset($ENTRY.GOOD_CATEGORY)}<tr><td colspan="6" style="background-color:#DFDFDF">{$ENTRY.GOOD_CATEGORY}</td></tr>{/if}
    						<tr class="{if $I%2}even{else}odd{/if}">
    							<td>{*<a href="{$GOOD_LINK}">*}{$ENTRY.caption}<!--/a--></td>
    							<td>{$ENTRY.articule}</td>		
    							<td class="goodPrice">{$ENTRY.price} р.</td>
								<td>{if $ENTRY.install}да{else}нет{/if}</td>
    							<td>
    							<input type="hidden" name="cartIDs[]" value="{$ENTRY.cartID}"/>
    							<input type="text" size="4" maxlength="4" name="amount{$ENTRY.cartID}" value="{$ENTRY.amount}" class="goodAmount" />
    							</td>
    							<td class="goodSumm">{$ENTRY.summ} р.</td>
    							<td><input type="checkbox" name="goodsToDelete[]" value="{$ENTRY.cartID}" title="Удалить из корзины" /></td>
    						</tr>
						{/foreach}
					</table>
					<div style="float:right;margin:5px 25px 10px 0"><input type="submit" name="doDeleteGoods" value=" Удалить отмеченные " id="deleteGoodsBtn"/></div>
					<div style="clear:both"></div>
{else}
<p>Корзина пуста.</p>
{/if}