<div id="customerinfo">
<div class="pseudoRow"><span class="leftPseudoCol">ФИО:</span><span class="rightPseudoCol"><a href="{$ADMIN_ALIAS}users/edit/{$CUSTOMER.userID}" title="Редактировать информацию о заказчике">{$CUSTOMER.FIO}&nbsp;&nbsp;&nbsp;</a>
<a href="#" id="changeCustomer" title="Сменить заказчика"><img src="{$PUBLIC_FILES_PATH}images/changeuser.png" alt="Сменить заказчика" /></a></span>
</div>
<div class="pseudoRow"><span class="leftPseudoCol">login:</span><span class="rightPseudoCol">{$CUSTOMER.login}</span></div>
{if isset($CUSTOMER.address)}<div class="pseudoRow"><span class="leftPseudoCol">Адрес:</span><span class="rightPseudoCol">{$CUSTOMER.address}</span></div>{/if}
{if $CUSTOMER.email}<div class="pseudoRow"><span class="leftPseudoCol">E-mail:</span><span class="rightPseudoCol"><a href="mailto:{$CUSTOMER.email}">{$CUSTOMER.email}</a></span></div>{/if}
{if isset($CUSTOMER.phone)}<div class="pseudoRow"><span class="leftPseudoCol">Телефон:</span><span class="rightPseudoCol">{$CUSTOMER.phone}</span></div>{/if}
{if isset($CUSTOMER.fax)}<div class="pseudoRow"><span class="leftPseudoCol">Факс:</span><span class="rightPseudoCol">{$CUSTOMER.fax}</span></div>{/if}
<div style="clear: both; text-align:right;">&nbsp;</div>
</div>
<div id="changeCustomerForm" style="display:none">
<form action="{$MODULE_ALIAS}changecustomer/" method="post">
<div><input type="hidden" name="orderID" value="{$ORDER.orderID}" />
Имя, e-mail или ID зарегистрированного пользователя:
		   		<input type="text" id="userFIO" name="userFIO" value="" />
				<input type="hidden" id="userID" name="userID" value="" />
				<input type="submit" value=" Поменять " name="doChangeCustomer" />
				<input type="reset" value=" Отмена " id="cancelChangeCustomer" />
</div>
</form>
				<div style="clear: both; text-align:right;">&nbsp;</div>
</div>