        <ul>
            <li>
                <a href="{$MODULE_ALIAS}" title="Все заказы">Список заказов</a>
            </li>
            <li>
                <a href="#print" title="Убрать всё лишнее" id="printLink">Версия для печати</a>
            </li>
        </ul>