.damnupload-files-drop-target {
	width: 600px;
	min-height: 120px;
	border: 1px solid #BFEF01;
}

.btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
	border-image: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 12px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

.fileinput {
	display: inline-block;
	overflow: hidden;
	width: 175px;
	height: 24px;
	overflow: hidden;
	position: relative;
	margin: 14px 0;
}

.fileinput .plus {
	font-weight: bold;
	font-size: 22px;
}

.fileinput .text {
	font-size: 14px;
	position: relative;
	top: -2px;
}

.fileinput .damnupload{
	cursor: pointer;
	direction: ltr;
	font-size: 23px;
	margin: 0;
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 0px;
	transform: translate(-500px, 0px) scale(4);
}

.damnupload-files-container
{
	float: left;
	width: 100%;
}

.damnupload-files-container .file-block {
	float: left;
	min-width: 250px;
	margin: 15px 0;
}

.damnupload-progress {
	border: 1px solid #D9E4FF;
	margin: 10px 5px;
    width: 375px;
	padding: 20px 10px;
}

.damnupload-progress span.legend {
	background-color: #FFFFFF;
    color: #A31DFB;
    font: 700 14px Arial,Helvetica,sans-serif;
    padding: 3px;
    position: relative;
    top: -30px;
}

.upload-result {
	margin: 5px 0;
	padding: 6px 0 6px 2px;
	width: 360px;
	border: 1px solid #aaffaa;
}

.upload-result progress {
	width: 350px;
}

.upload-result-filename {
	font-weight: bold;
}


.upload-result-status {
	font-size: 10px;
}