<div id="footer">
	<p>Работает на <a href="http://bitplatform.ru">Битплатформе <img src="{$ADMIN_IMAGES}backgrounds/bitplatform_s.png" alt="" class="footerLogo" /></a>. &nbsp; Сделано в компании <a href="http://ayaco.ru">АЯКО <img src="{$ADMIN_IMAGES}backgrounds/ayaco_s.png" alt="" class="footerLogo" /></a>.</p>
	<br/>
	<a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml10"
        alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
</div>