{include file="editor/head.tpl"}
{if !isset($step)}
	<h2>Редактирование {$EFILE->GetFileName()}.</p>
	<p></p>
<form id="robotsEdit" action="" method="post">
	<textarea name="fileData" cols="100" rows="20">{$EFILE->GetContent()}</textarea>
	<div><input type="submit" name="saveRun" value="Сохранить" /></div>
</form>
{/if}