.paginator{
	text-align: center;
}

.paginator a{
	margin: 0 5px 0 5px;
	font-size: 1em;
}

.feedback_messageItem{
	margin: 5px 0 0 5px;
	border-left: 1px dashed gray;
	padding-left: 5px;
}