<h1>Управление справочником брендов</h1>
<form action="" method="post" enctype="multipart/form-data" id="addBrand" class="storeForm">
    {include file='formBlocks.tpl'}
    <div class="formBlock">
		<div class="formElement " style="margin:0 0 0 4px;">
			<input type="submit" value="Сохранить" name="doSave" class="handyButton" />
		</div>
    </div>
</form>