<div class="content-block">
    <div class="container">
        <h2>{$PAGE.caption}</h2>
        {$ITEM.text}
        
        <br/>
        <a class="btn" href="/news/">Назад к списку новостей</a>
    </div>
</div>
