<div id="footer">
	<div class="in">
		<ul class="list-footer">
			<li><a target="_blank" href="http://bitplatform.ru">bitplatform.ru</a></li>
			<li>&copy; <a target="_blank" href="#">MIT Labs</a></li>
		</ul>
	</div>
</div>