<script type="text/jacascript">
{if !empty($REDIRECT_URL)}
setTimeout("window.location={$REDIRECT_URL}", 3000);
{/if}
</script>
<table border = "0" height="100%" width="100%">
	<tr> 
		<td valign="middle" align="center">
			<div id="container" class="success">
				<h1 align="center">Успех!</h1>
				<div id="msg">
					{$SUCCESS_MSG}
				</div>
				<br />
				<div align="center">
					<input type="button" value="OK" onclick="javascript: window.location='{$REDIRECT_URL}'" />
				</div>
				<br />
			</div>
		</td>
	</tr>
</table>