#new {float:right; margin-top:15px; }
#filters {clear:left; float:left; width:100%; 
	padding: 0 0 10px 3px;
	background-color: #f5f5f5}	
	.filtersFormControl {float: left; margin: 15px 30px 0 0;}
	#doFilter {display:block; float:left; margin: 15px 0 0 0; cursor: pointer;}
#clearFilters {
	display:block; clear:both; width: 100%; text-align: right;
	text-decoration: none;
}
#clearFilters a:link, #clearFilters a:visited {color:#333;}
#clearFilters a:hover {background-color: #B8E1FB;}

#filter_deadlineDate {width: 100px;}

#list {width: 100%}
	#list a:link,  #list a:visited {text-decoration: none;}
	
	td.photoCell { width: 150px;}
	.hidden {display:none;}
	.emphasis {	font-size: 1.3em;	color: #047AC6;	}

	
#loader-identity {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/templates/admin/new/images/animations/ajax-loader.gif') 50% 50% no-repeat;
}
