div.formBlock {
	padding: 15px 10px 10px 10px;
	margin: 20px 0 15px 0;
	background: #FAFBFA;
	border-top: 2px solid #e9eaed;
}
div.formBlockHeader {
	font-size: 16px;
	color: #AFDC01;
}
div.formElement {
	margin: 0 0 15px 0;
	clear: left;
	position:relative;
}
div.formElement label.formElementLabel {
	display:block;
	/*float:left;*/
	width: 400px;
}

.radioGroup label.subLabel {
	margin-right:10px !important;
}

#rightblock {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F3F5F3 none repeat scroll 0 0;
border-color:#AFDC01 #E5EFE5 #E5EFE5;
border-style:solid;
border-width:2px 1px 1px;
padding:10px;
position:absolute;
right:100px;
top:98px;
width:230px;
z-index:10;
}

#rightblock a {
	text-decoration: none;
}
#rightblockType2 {
	float: right;
	margin: 0 0 -30px 0;
	width: 200px;
	padding: 10px;
	z-index: 10;
	position: relative;
}
#rightblockType2 a {
	text-decoration: none;
	font-size: 0.7em;
}
.smallLightGrey {
	color:#A9A9A9;
	font-size:0.9em;
}
.formInlineElement {
	float: left;
	width: 197px;
}
div.formElement select{
    width: 385px;   
} 

div.formBlock div.invisible{
    display: none;
}

.halfLine{
    width: 50%;
    float: left;
}




/** Простые формы **/
.sFormRow{
    width: 100%;
    float: left;
    margin: 0 0 15px 0;
}
.sFormRow_Left{
    width: 200px;
    float: left;
    font-weight: bold;
    text-align: right;
    margin: 0 10px 0 0;
}
.sFormRow_Right{
    float: left;
}
.sFormRow_Right input{
    width: 400px;
}
.sFormBtns{
    padding-left: 300px;
    margin: 0 0 10px 0;
}