div.menuBlock {
	margin:0 0 20px 32px;
	width:272px;
	-webkit-box-shadow: #bababa 0 1px 1px;
	-moz-box-shadow:#bababa 0 1px 1px;
	box-shadow:#bababa 0 1px 1px;
}
div.menuBlock h1 {
	margin: 0 0 10px 0;
	font-size: 14px;
	color: #B4E201;
}
#sidebar div.menuBlock ul{
	margin:0;
	padding:0;
	list-style:none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
/*#sidebar div.menuBlock ul li {
	padding:0;
	margin:0;
	background:none;
	margin:0;
	padding:0;
	list-style:none;
}*/
#sidebar div.menuBlock > ul > li {border-top: 1px solid #e9eaed;}
#sidebar div.menuBlock  ul > li > a {
	background:#f5f7fa;
	padding:0 0 0 15px;
	-webkit-transition: color .2s ease-in-out, background .2s ease-in-out;
	-moz-transition: color .2s ease-in-out, background .2s ease-in-out;
	-ms-transition: color .2s ease-in-out, background .2s ease-in-out;
	-o-transition: color .2s ease-in-out, background .2s ease-in-out;
	transition: color .2s ease-in-out, background .2s ease-in-out;
}
#sidebar div.menuBlock ul li a {
	font-size:14px;
	line-height:28px;
	height:31px;
	padding:0 0 0 15px;
	display:block;
}
#sidebar div.menuBlock ul li:first-child {border:0;}
#sidebar div.menuBlock ul li:first-child  a {
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	border-radius:2px 2px 0 0;
}
#sidebar div.menuBlock ul li:last-child a {
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
}
#sidebar div.menuBlock ul li a:hover{
	background:#595959;
	color:#fff;
	text-decoration:none;
}
#sidebar div.menuBlock > ul > li.active > a{
	color:#fff;
	background: #242832;
	font-weight:normal;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#242832), to(#191c23));
	background: -webkit-linear-gradient(#242832, #191c23);
	background: -moz-linear-gradient(#242832, #191c23);
	background: -ms-linear-gradient(#242832, #191c23);
	background: -o-linear-gradient(#242832, #191c23);
	background: linear-gradient(#242832, #191c23);
	-pie-background: linear-gradient(#242832, #191c23);
}
#sidebar div.menuBlock > ul > li {position:relative;}
#sidebar div.menuBlock > ul > li > a {
	position:relative;
	z-index:1;
}
#sidebar div.menuBlock > ul > li.has-drop a:after {
	content:"";
	display:block;
	clear:both;
	position:absolute;
	top:13px;
	right:0px;
	background: url(/templates/admin/new/images/backgrounds/bg-nav.png) no-repeat 0 0;
	width:4px;
	height:8px;
	z-index:10;
	display:none;
}
#sidebar div.menuBlock > ul > li.has-drop.active a:after {display:block;}
#sidebar div.menuBlock ul > li ul {
	padding:4px 0 0;
	background:#fff;
}
#sidebar div.menuBlock ul > li ul li a {
	background:#fff;
	line-height:29spx;
	height:32px;
}
#sidebar div.menuBlock ul > li ul li a:hover {
	color:#0080ff;
	background:#fff;
}
#sidebar div.menuBlock ul > li li.active > a {
	color:#181b22;
	background:#fff;
	cursor:default;
	font-weight:normal;
	font-weight:bold;
}
#sidebar div.menuBlock ul > li ul ul {
	padding:0 0 0 20px;
}
#sidebar div.menuBlock > ul > li > div > div {
	margin:0 !important;
	position:relative;
}
#sidebar div.menuBlock > ul > li > div > div br {display:none;}
#sidebar div.menuBlock > ul > li > div > div > span {
	position:absolute;
	top:9px;
	left:3px;
}
#sidebar div.menuBlock > ul > li > div > div > span {display:none;}
#sidebar div.menuBlock  .treeview li a {
	height:auto;
	line-height:15px;
}
