.paginator {margin-top:10px; font-size:1em;}
.paginator table {border-collapse:collapse; width:100%;}
.paginator table td {padding:0; white-space:nowrap;}
.paginator span {display:block; padding:3px 5px 15px 5px; color:#fff;}
.paginator span em, .paginator span a {padding:0 4px;}
.paginator span em {background:#ea554e; font-style:normal;}
.paginator .scrollbar {width:100%; height:20px; position:relative;}
.paginator .scrollbar .line {width:100%; height:3px; background:#ccc; overflow:hidden;}
.paginator .scrollbar .slider {position:absolute; width:3px; height:3px; top:0; left:0; font-size:1px; background:#636363;}
.paginator .scrollbar .current_page_point {position:absolute; top:0; left:0; width:3px; height:3px; overflow:hidden; background:#ff6c24;}
.paginator .scrollbar .slider_point {position:absolute; top:-5px; left:50%; margin-left:-10px; width:20px; height:20px; overflow:hidden; background:url(/images/slider.gif) no-repeat 50% 50%; cursor:pointer;}
.fullsize  .scrollbar .slider {display:none;}