<div class="content-block">
    <div class="container">
        <h2>{$PAGE.caption}</h2>
        {$ACTION.text}
        
        <br/>
        <a class="btn" href="/actions/">Назад к списку акций</a>
    </div>
</div>
