			<div>
				<div style="margin: 5px 0 20px 0;">
				<ul id="structure"><li/></ul>
				</div>

				<div><span style="color:gray;font-size:80%;letter-spacing:-1px;">(+)</span> <a href="{$CONTROLLER_ALIAS}add/" title="Создать и отредактировать страницу">Добавить страницу</a>
				<br />

				<br />
				<a href="{$CONTROLLER_ALIAS}recycled/" title="Удаленные страницы">Корзина(<span id="pagesRecycled">{$DELETED_PAGES_NUMBER}</span>)</a>
				</div>
			</div>

			<!--div id="sidebar_bottom"></div-->