.paginator {
            margin: 20px 0;
				clear:both;
        }
        
.paginator a {
   text-decoration: none;
	color: #15B;
}

.paginator a, .paginator span {
    display: block;
    float: left;
    padding: 0.2em 0.5em 0.1em 0.5em;
    margin-right: 5px;
	 margin-bottom: 5px;
}

.paginator .current {
    background: #047AC6;
    color: #fff;
	 border: solid 1px #047AC6;
}

.paginator .current.prev, .paginator .current.next{
	color:#999;
	border:none;
	background:#fff;
}
